.inputsContainer {
  background-color: var(--cardBgColor);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 85%;
  margin: 10px 0 25px 0 !important;
}

.inputItem input,
.inputItem select,
.inputItem option,
.inputItem textarea,
.MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root,
.css-3ea4o3 {
  background-color: var(--inputsBgColor) !important;
  color: var(--BlackToWhite) !important;
  width: 100%;
  border-radius: 8px;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-vubbuv {
  color: var(--BlackToWhite) !important;
}

.inputItem input:not(.MuiInputBase-root input),
.inputItem select,
.MuiFormControl-root.MuiTextField-root.css-z3c6am-MuiFormControl-root-MuiTextField-root,
.css-3ea4o3 {
  border: 2px solid var(--sec-color) !important;
}

.inputItem textarea {
  border: 2px solid var(--sec-color) !important;
}

.MuiInputBase-root * {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-q2lp9a-MuiInputBase-root-MuiOutlinedInput-root:hover,
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-q2lp9a-MuiInputBase-root-MuiOutlinedInput-root:focus-visible {
  scale: 1 !important;
  outline: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.calenderPicker .inputItem>div {
  width: 100% !important;
}

.calenderPicker .inputItem input {
  padding-block: 10px !important;
}

.inputItem input::placeholder,
.inputItem textarea::placeholder {
  color: #8f8f91;
}

.inputItem input:focus,
.inputItem select:focus,
.inputItem option:focus,
.inputItem textarea:focus {
  background-color: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.inputItem select {
  padding: 8px 25px !important;
  /* background-color: var(--cardBgColor) !important; */
}

.inputItem select option {
  color: black !important;
  /* background-color: var(--cardBgColor) !important; */
}

/* !Radio Buttons */
.radio-buttons-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
}

.radio-button__custom {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}


.radio-button__input:checked+.radio-button__label .radio-button__custom {
  transform: translateY(-50%) scale(0.9);
  border: 5px solid var(--sec-color);
  color: var(--sec-color);
}

.radio-button__input:checked+.radio-button__label {
  color: var(--sec-color);
}

.radio-button__label:hover .radio-button__custom {
  transform: translateY(-50%) scale(1.01);
  border-color: var(--sec-color);
  box-shadow: 0 0 5px #7e7ebeb6;
}

/* !Button */
.addButton {
  --color: var(--sec-color);
  padding: 10px 50px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.addButton::before,
.addButton::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1100ms ease;
}

.addButton::before {
  top: -1em;
  left: -1em;
}

.addButton::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.addButton:hover::before,
.addButton:hover::after {
  height: 410px;
  width: 410px;
}

.addButton:hover {
  color: white;
}

.addButton:active {
  filter: brightness(0.8);
}

/* timePicker */
.timePicker>div {
  width: 100% !important;
}

.MuiChip-label {
  color: #fff;
}

.MuiChip-deleteIcon {
  color: var(--sec-color) !important;
}

.css-gdh49b-MuiAutocomplete-listbox {
  background-color: var(--cardBgColor) !important;
  color: #fff;
}

.dropzone {
  border: 3px solid var(--sec-color);
  border-radius: 10px;
  height: 60px;
}

.css-1h51icj-MuiAutocomplete-root .MuiAutocomplete-tag {
  border: 1px solid var(--sec-color) !important;
}