.form .user-name {
  border-radius: 10px;
  color: var(--BlackToWhite) !important;
  background: var(--cardBgColor);
  border: 1px solid var(--sec-color) !important;

}

.form .password-input {
  border-radius: 10px !important;
  background-color: var(--cardBgColor) !important;
  margin-top: 2px;
  border: 1px solid var(--sec-color) !important;

}

.password-input .pass-word {
  width: 90% !important;
  margin: 0px !important;
  border: 0px !important;
}

.login-btn a {
  background: var(--sec-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
  color: var(--BlackToWhite);
  padding: 15px 100px;
  border: 0;
  border-radius: 20px;
  font-family: var(--main-font);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.5s;
  text-decoration: none;
}

.login-btn a:hover {
  background: darkslateblue;
}

.form .role {
  border-radius: 10px !important;
  background: var(--cardBgColor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33) !important;
  border: 0 !important;
  padding: 1rem !important;
  color: var(--BlackToWhite);
  font-family: var(--main-font) !important;
  font-size: 15px !important;
  font-style: normal !important;
  /* font-weight: 600 !important; */
  line-height: 20px;
}

.form .role option {
  color: var(--sec-color);
  font-family: var(--main-font) !important;
  font-size: 15px !important;
  font-style: normal !important;
  /* font-weight: 600 !important; */
  line-height: 20px;
}

.form .role option:checked {
  color: var(--sec-color);
  font-family: var(--main-font) !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px;
}

.form .role option:disabled {
  color: var(--mutedColor);
}

.form .role:focus {
  color: var(--sec-color);
}

#eye {
  cursor: pointer;
  color: var(--sec-color) !important;
}

#eye:active {
  outline: none !important;
  border: 0 !important;
}

.role {
  background-color: var(--cardBgColor);
  border: 1px solid var(--sec-color);
  color: var(--BlackToWhite);
}