:root:has(#switch:checked) {
  --black-color: #262a2e;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --shadow-1: 0px 0px 20px #0f1114;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --shadow-3: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 2px 12px 0 rgba(24, 94, 224, 0.15);
  --shadow-4: 2px 6px 20px #0f1114;
  --transition: 0.4s;
  --main-color: #323644;
  --sec-color: #7e7ebe;
  --main-font: Poppins;
  --mutedColor: rgb(135, 136, 149);
  --hoverColor: rgba(23, 145, 186, 0.3);
  --bgMainColor: linear-gradient(180deg,
      rgba(37, 50, 57, 1) 0%,
      rgba(39, 42, 55, 1) 92%);
  --BlackToWhite: #e5e0eb;
  --BlackWhite: #e5e0eb;
  --btnBlackToWhite: #212428;
  --sideBarColor: #15181d;
  --pageHeading: black;
  --table-color: #262626;
  --inputsBgColor: transparent;
  --cardBgColor: #343a46;
  --headercardBgColor: #1a1d24;
  --placeHolderColor: #8f8f91;
  --hover: #404040;
}

/*  */
:root {
  --black-color: #262a2e;
  --background-color-1: #eaeaea;
  --shadow-1: 0px 0px 20px #0f1114;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --shadow-3: 0 0 1px 0 rgba(24, 94, 224, 0.15),
    0 2px 12px 0 rgba(24, 94, 224, 0.15);
  --transition: 0.4s;
  --main-color: #323644;
  --sec-color: #7e7ebe;
  --main-font: Poppins;
  --mutedColor: rgb(135, 136, 149);
  --hoverColor: rgba(23, 145, 186, 0.3);
  --inputsBgColor: transparent;
  --BlackWhite: #e5e0eb;
  --btnBlackToWhite: #e5e0eb;
  --bgMainColor: #eaeaea;
  --sideBarColor: #111926;
  --BlackToWhite: #222529;
  --cardBgColor: #ecf0ef;
  --calander: #343A46;
  --headercardBgColor: #40444e;
  --cardHeadingColor: #7e7ebe;
  --hover: #ecf0ef;
}

.main {
  background: var(--bgMainColor);
  min-height: 100vh !important;
  color: var(--BlackToWhite);
  padding-top: 3rem !important;
}

h2.pageHeading,
.BlackToWhite {
  color: var(--BlackToWhite) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  color: var(--BlackToWhite) !important;
}

span i,
span {
  color: var(--BlackWhite) !important;
}


.cursorPointer {
  cursor: pointer;
}

.w-fit {
  width: fit-content !important;
}

.navbar .collapse.navbar-collapse .nav-item:not(.nav-item.all, .nav-item.search) {
  display: none !important;
}

@media screen and (950px > width) {
  .navbar .collapse.navbar-collapse .nav-item:not(.nav-item.all, .nav-item.search) {
    display: block !important;
  }

  .nav-item.search {
    display: none !important;
  }

  .sidebar-col {
    display: none !important;
  }
}

/* Scroll */
/* !Scroll Design */
* {
  scrollbar-width: auto;
  scrollbar-color: #15181d;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #343a41;
}

*::-webkit-scrollbar-thumb {
  background-color: #15181d;
  border-radius: 10px;
}

/* Context Menu */
#context-menu {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9998;
  background-color: #15181d;
  border-radius: 8px;
  width: 150px;
  padding: 5px;
}

#context-menu .item,
#deepContext .item {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 8px;
}

#context-menu .item:hover,
#deepContext .item:hover {
  background-color: #2f2f2f;
}

/* Deep Context */
#deepContext {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 9999;
  background-color: #161920;
  border-radius: 8px;
  width: 150px;
  padding: 5px;
  margin-block: 5px;
}